* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {

    --hover-color: rgba(128, 128, 128, 0.514);
    --btn-color: rgba(128, 128, 128, 0.336);
    --text-color: white;
    --bg-color: black;


}

body {
    height: 100vh;
    width: 100vw;
    margin-bottom: 300px;
    background-color: var(--bg-color);
    overflow-x: hidden;
}

header {
    top: 0;
    height: 70px;
    width: 100vw;
    padding: 15px;
    position: fixed;

    display: flex;
    justify-content: space-between;
}

main {
    color: var(--text-color);
    position: absolute;

    top: 60%;
    left: 5%;
    width: 37vw;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

h2 {
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 10px;
}

p {
    margin-top: 10px;
    line-height: 25px;
}

button {
    font-weight: 600;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    border-radius: 2px;
    width: 100px;
    height: 35px;
}

#btn {
    background-color: var(--btn-color);
    color: var(--text-color);
    width: 160px;

}

#btn:hover,
button:hover {
    background-color: var(--hover-color);
    transition: 0.3s all ease-in-out;
}


.img {
    width: 150px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-conteudo {
    background-color: #181818;
    color: var(--text-color);
    margin: 30px auto;
    padding: 20px;
    max-width: 90%;
}

.botao-som {
    background-color: var(--btn-color);
    width: 40px;
    border: none;
    cursor: pointer;
    z-index: 4;
    position: absolute;
    top: 130px;
    right: 96px;
}

.botao-som:hover {
    background-color: var(--hover-color);
}


#carouselExampleControls {
    margin-left: 60px;
}

#avatar {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

#logo {
    width: 70px;
    height: 20px;
}

video {
    margin-top: 10px;
    max-width: 100%;
    min-height: 80vh;
}

@media (max-width: 768px) {

    main {
        width: 80vw;
        top: 150px;
        left: 10%;
        font-size: 10px;
    }

    .botao-som {
        top: 385px;
        left: 315px;
    }

    h2 {
        padding-right: 50px;
    }
}